version: '2'
services:

  web:
    build: ./web-app
    ports:
      - '80:3000'
    restart: unless-stopped

  plex:
    image: linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - "32400:32400/tcp"
      - "3005:3005/tcp"
      - "8324:8324/tcp"
      - "32469:32469/tcp"
      - "1900:1900/udp"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"
    volumes:
      - ${PATH_PLEX}/library:/config
      - ${PATH_PLEX}/series:/tv
      - ${PATH_PLEX}/movies:/movies
      - ${PATH_PLEX}/downloads:/plexdownloads
    restart: unless-stopped

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
    volumes:
      - ${PATH_PLEX}/data:/config
      - ${PATH_PLEX}/downloads:/downloads
      - ${PATH_PLEX}/watch:/watch
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped

  radarr:
    image: linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
    volumes:
      - ${PATH_PLEX}/radarr:/config
      - ${PATH_PLEX}/movies:/movies
      - ${PATH_PLEX}/downloads:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
    volumes:
      - ${PATH_PLEX}/sonarr:/config
      - ${PATH_PLEX}/series:/tv
      - ${PATH_PLEX}/downloads:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
      - AUTO_UPDATE=true
    volumes:
      - ${PATH_PLEX}/jackett:/config
      - ${PATH_PLEX}/blackhole:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped